<!DOCTYPE html>
<html lang="he", dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <header>
        <ul align="center">
            <h1>Zeev Jabotinsky///////</h1>
        </ul>
        <div style="height:20px;
            width: 20;
            border-top:2px solid #424242;
            padding: 0;
            box-shadow: 0 10px 10px -10px #8c8b8b inset;
            margin: 0px 0;
            padding: 0px">
    </header>

</head>
<body>
    
    <h1 align="center">משימה בלשון</h1>
    <p align="center"><iframe width="860" height="450" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><p/>
    <p align="center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZo7A6r9-9pcMNr4jrzFhOzi33oFiB9CkGClRlmdXD-_SeCg/viewform?embedded=true" width="640" height="1080" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe></iframe></p>
</body>
</html>